<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="userMapper">

    <select id="selectUser" parameterType="userVO" resultType="userVO">
    select useq, nick, email, pwd from tb_user
    where nick=#{nick}
    </select>
    
    <select id="countBoard" resultType="int">
    select count(*)
    </select>
    
    <select id="selectBoardList" resultType="BoardListVO">
    select u.nick, b.bseq, b.title, b.datetime, b.hit from tb_user u, tb_board b where u.useq=b.useq order by bseq desc
    </select>
    
    <select id="selectBoard" parameterType="int" resultType="BoardListVO">
    select u.nick, b.bseq, b.title, b.content, b.datetime, b.hit from tb_user u, tb_board b where u.useq=b.useq and b.bseq=#{bseq}
    </select>
    
    <update id="increseHit">
    update tb_board set hit=hit+1 where bseq=#{bseq}
    </update>

	<insert id="insertBoard" parameterType="BoardVO">
	insert into tb_board(title, content, hit, useq) values(#{title}, #{content}, 0, #{useq})
	</insert>
	
	<update id="updateBoard" parameterType="BoardVO">
	update tb_board set title=#{title}, content=#{content} where bseq=#{bseq}
	</update>
	
	<select id="selectPageList" parameterType="Paging" resultType="BoardListVO">
	select u.nick, b.bseq, b.title, b.datetime, b.hit
	from tb_board b, tb_user u
	where u.useq=b.useq
	order by bseq desc limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="countPaging" resultType="int">
	select count(bseq) from tb_board
	</select>
	
	<insert id="addAttach" parameterType="String">
	insert into tb_attach(fullname, bseq) values(#{fullName}, LAST_INSERT_ID())
	</insert>
	
	<delete id="deleteAttach">
	delete from tb_attach where bseq=#{bseq}
	</delete>
	
	<insert id="replaceAttach">
	insert into tb_attach(fullname, bseq) values(#{fullName}, #{bseq})
	</insert>
	
	<select id="getAttach" parameterType="int" resultType="string">
	select fullname from tb_attach where bseq=#{bseq} order by regdate
	</select>
	
	<insert id="insertReply" parameterType="ReplyVO">
	insert into tb_reply(bseq, useq, comment) values(#{bseq}, #{useq}, #{comment})
	</insert>
	
	<select id="list" resultType="ReplyVO">
	select r.rseq, r.bseq, r.useq, u.nick, r.comment, r.datetime 
	from tb_reply r, tb_user u 
	where r.useq=u.useq and bseq=#{bseq} and rstatus=0 order by rseq desc
	</select>
	
	<update id="update" parameterType="ReplyVO">
	update tb_reply set comment = #{comment}, datetime = now() where rseq=#{rseq}
	</update>
	
	<update id="delete">
	update tb_reply set rstatus = 1 where rseq=#{rseq}
	</update>
	
	<select id="listPage" resultType="ReplyVO">
	select r.rseq, r.bseq, r.useq, u.nick, r.comment, r.datetime
	from tb_reply r, tb_user u
	where r.useq=u.useq and bseq=#{bseq} order by rseq desc limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="countReply" resultType="int">
	select count(bseq) from tb_reply where bseq=#{bseq}
	</select>

</mapper>